body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Georgia,serif;
	background-color: #eae8e1;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.orbit-section {
	background-color: #9f221b;
}

.planet-wrapper {
	position: relative;
}

.planet {
	width: 100px;
}

.rocket {
	left: 50%;
	margin-left: -20px;
	position: absolute;
	top: -40px;
	width: 40px;
	-webkit-animation: rocket-rotation 6s linear infinite;
	/*
		animation-name: rocket-rotation;
		animation-duration: 6s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	*/
	-webkit-transform-origin: 50% 90px;
}

/*
	DON'T FORGET THE REST OF THE VENDOR PREFIXES
	-ms-animation
	-moz-animation
	-o-animation
	-webkit-animation
	animation (without vendor prefix)
*/
@-webkit-keyframes rocket-rotation {
	100% {
		-webkit-transform: rotate(-360deg);
	}
}

.sun {
	width: 300px;
}

.dipper-section {
	background-color: #c7c0ae;
}

.dipper {
	opacity: 0;
	width: 240px;
}

.js-dipper-animate {
	-webkit-animation: dipper-fade 2s linear forwards;
  /*
  animation-fill-mode: forwards;
  Force the element to keep its state after the animation completes
    therefore matching the styles of the last frame of animation
  */
}

@-webkit-keyframes dipper-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.ships-section {
	background-color: #f6a500;
}

.ships {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.ships > li {
	display: inline-block;
	margin: 0 2rem;
}

.ships img {
	width: 140px;
	opacity: 0;
	-webkit-transform: translateY(140px);
}

.js-ships-animate {
	-webkit-animation: ship-fly 1s ease-out forwards;
}

.ships li:first-child img {
	-webkit-animation-delay: 100ms;
}

.ships li:nth-child(2) img {
	-webkit-animation-delay: 200ms;
}

.ships li:last-child img {
	-webkit-animation-delay: 250ms;
}

@-webkit-keyframes ship-fly {
	0% {
		opacity: 0;
		-webkit-transform: translateY(140px);
	}
	40% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
